version: '3'
services:
  web:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
     - "3000:3000"
    depends_on:
      - "db"
  db:
    image: "postgres:14.0"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
