version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: twapp
    environment:
      TW_DB_HOST: db
    ports:
     - "3000:3000"
    depends_on:
      - "db"
  db:
    image: "postgres:latest"
    container_name: twdb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
     - "5432:5432"
